body {
  margin: 0;
}

.application {
  width: 100vw;
  height: 100vh;

  background-image: url("https://cdn.jsdelivr.net/gh/cjativa/ubuntu-tutorial@Complete/ubuntu-background.png");

  display: flex;
  justify-content: center;
  align-items: center;
} 

@import './styles/navigationBar.scss';
@import './styles/body.scss';
@import './styles/ubuntuTerminal.scss';