.navigation-bar {
    height: 35px;
    background-color: #312f30;
    color: #ffffff;
    padding: 0px 10px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;

    position: relative;
  }